@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

.success-snackbar {
  @include mat.snack-bar-overrides(
    (
      container-color: #f4fff2,
      supporting-text-color: #054a29,
      button-color: #137547,
    )
  );
}

.error-snackbar {
  @include mat.snack-bar-overrides(
    (
      container-color: #f6f7eb,
      supporting-text-color: #c20114,
      button-color: #36382e,
    )
  );
}

.info-snackbar {
  @include mat.snack-bar-overrides(
    (
      container-color: #fff,
      supporting-text-color: #031d44,
      button-color: #031d44,
    )
  );
}

@media (max-width: 600px) {
  body {
    font-size: 0.8rem;
  }
}
