@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.success-snackbar {
  @include mat.snack-bar-overrides((
    container-color: rgb(71, 177, 71),
    supporting-text-color: white,
    button-color: lightgreen,
  ));
}

.error-snackbar {
  @include mat.snack-bar-overrides((
    container-color: rgb(219, 73, 73),
    supporting-text-color: white,
    button-color: pink,
  ));
}

.info-snackbar {
  @include mat.snack-bar-overrides((
    container-color: blue,
    supporting-text-color: white,
    button-color: lightblue,
  ));
}



