.gtfs-container {
  margin-top: 20px;
}

.gtfs-card {
  width: 95%;
  margin: 0 auto;
  // margin-top: 80px;
  background-color: #e1e5f2;
  padding: 10px;

  .card-header {
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .gtfs-title {
    font-weight: semi-bold;
  }

  .gtfs-subtitle {
    color: #797878;
  }

  .gtfs-buttons {
    margin-right: 30px;
  }

  .upload-button {
    color: #ffffff;
    background-color: #774ed6;
  }

  .gtfs-data-upload-card {
    margin-top: 20px;
  }
}

.performance-metrics {
  background-color: #77bea9;
  padding: 4px 15px;
  border-radius: 8px;
  b {
    color: rgb(5, 73, 3);
  }
}

.data-error {
  // width: 100%;
  text-align: center;
  background-color: #f8c4c4;
  color: #991c1c;
  border-radius: 15px;
  padding: 30px;
}
