<div class="gtfs-container">

    <mat-card class="gtfs-card">
        <mat-card-header>
            <mat-card-title class="gtfs-title"> GTFS Builder</mat-card-title>
            <mat-card-subtitle class="gtfs-subtitle">Convert your bus schedules to GTFS format</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="gtfs-buttons-container">
                <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
                <button mat-raised-button (click)="fileInput.click()" class="gtfs-buttons upload-button">Upload bus
                    schedule</button>
                <button mat-flat-button (click)="downloadGTFS()">Build GTFS and Download</button>
            </div>

            <mat-tab-group>
                <!-- <mat-tab label="Overview">
                    Data Overview comes in here
                </mat-tab> -->
                <mat-tab label="Agency">
                    <agency-details></agency-details>
                </mat-tab>
                <mat-tab label="Calendar"> Calendar details comes in here </mat-tab>
                <mat-tab label="Routes"> Route details comes in here </mat-tab>
                <mat-tab label="Trips"> Trip details comes in here </mat-tab>
                <mat-tab label="Stops"> Stop details comes in here </mat-tab>
                <mat-tab label="Stop Times"> Stop Times details comes in here </mat-tab>
            </mat-tab-group>

        </mat-card-content>
    </mat-card>

</div>